<footer>
	<ul>
		<li><a href="{{ "feed.xml" | relURL }}">RSS</a></li>
		<li><a href="{{ "feed.json" | relURL }}">JSON Feed</a></li>
		<li><a href="{{ "archive/" | relURL }}">Archive</a></li>
		<li><a href="{{ "photos/" | relURL }}">Photos</a></li>
		<li><a href="https://micro.blog/{{ .Site.Params.author.username }}" rel="me">Micro.blog</a></li>
	</ul>
	<p>Powered by <a href="https://micro.blog">Micro.blog</a> and <a href="http://bettermotherfuckingwebsite.com/">7 declarations of CSS</a>.</p>
</footer>
